:root {
    --bg-color: #ecf0f3;
    --main-color: #ccc;
    --bright-color: #fff;
    --font-color: #555;
    --box-shadow: 0.4rem .4rem 1rem #ccc, -.4rem -.4rem 1rem #fff;
    --box-shadow-inset: inset 0.4rem .4rem 1rem #ccc, inset -.4rem -.4rem 1rem #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background: var(--bg-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.gifcontainer {
    background: var(--bg-color);
    max-width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 36rem;
    border-radius: 1rem;
    box-shadow: var(--box-shadow);
    position: relative;
    top: 2rem;
    left: 5%;
    z-index: -1;
}

.gifcontainer img {
    border-radius: 1rem;
    max-width: 95%;
    position: absolute;
    z-index: -1;
}

.ICN {
    box-shadow: var(--box-shadow-inset);
    position: absolute;
    left: 35rem;
    top: 45rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8rem;
    color: var(--font-color);
    border-radius: 50%;
    height: 15rem;
    width: 15rem;
}

.h1box {
    position: relative;
    transform-style: preserve-3d;
    perspective: 1000px;
    width: 30rem;
    border-radius: 2rem;
    top: 27rem;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 27rem;
    box-shadow: var(--box-shadow-inset);
}

.h1type {
    transform: translateZ(20px);
}

.hibox {
    color: var(--font-color);
    position: relative;
    top: 35rem;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.smtype {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 39rem;
    width: 33rem;
    left: 26rem;
    box-shadow: var(--box-shadow);
    border-radius: 2rem;
}

.main-box {
    height: 40rem;
    box-shadow: var(--box-shadow);
    position: relative;
    top: 50rem;
    width: 78rem;
    left: 3rem;
    /* Grid start here */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
    padding: 1rem;
    border-radius: 1rem;
}

.boxy {
    box-shadow: var(--box-shadow-inset);
    border-radius: 1rem;
}

.box_1 {
      grid-area: 1 / 1 / 1 / 3; 
}

.box_4 {
    grid-area: 2 / 2 / 2 / 4; 
}


.gap {
    /* box-shadow: var(--box-shadow-inset); */
    height: 16rem;
    position: relative;
    top: 54rem;
}
