:root {
    --bg-color: #ecf0f3;
    --main-color: #ccc;
    --bright-color: #fff;
    --font-color: #555;
    --box-shadow: 0.4rem .4rem 1rem #ccc, -.4rem -.4rem 1rem #fff;
    --box-shadow-inset: inset 0.4rem .4rem 1rem #ccc, inset -.4rem -.4rem 1rem #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    background: var(--bg-color);
    height: 100vh;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 0.3fr 1fr 1fr;
    gap: 1rem;
    grid-template-areas: "descifrador descifrador descifrador descifrador"
    "logo gif gif bagde"
    "code code para bagde";
}

.logo {
    box-shadow: var(--box-shadow-inset);
    grid-area: logo;
    border-radius: 1rem;
}


.descifrador {
    box-shadow: var(--box-shadow-inset);
    border-radius: 1rem;
    grid-area: descifrador;
}


.gif {
    box-shadow: var(--box-shadow-inset);
    border-radius: 1rem;
    grid-area: gif;
    display: grid;
    place-items: center;
}

.fa-duotone {
    font-size: 8rem;
    color: var(--font-color);
}

.all {
    display: grid;
    place-items: center;
    overflow: hidden;
}

.code, .descifrador {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gif img {
    border-radius: 1rem;
    width: 93%;
}

.bagde {
    border-radius: 1rem;
    box-shadow: var(--box-shadow-inset);
    grid-area: bagde;
}

.code {
    box-shadow: var(--box-shadow-inset);
    border-radius: 1rem;
    grid-area: code;
}

.para {
    border-radius: 1rem;
    box-shadow: var(--box-shadow-inset);
    grid-area: para;
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
    padding: 2rem;
    color: var(--font-color);
}

.bagde {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    justify-content: space-around;
    color: var(--font-color);
}
.bagde:hover {
    cursor: default;
}

.para:hover {
    cursor: default;
}
/* 
@media screen and (max-width:1894px) {
    .container{
        grid-template-rows: .20fr 1.1fr 1fr;   
    }
}

@media screen and (max-width:1723px) {
    .container{
        grid-template-rows: .20fr .95fr 1fr;   
    }
}

@media screen and (max-width:1560px) {
    .container{
        grid-template-rows: .20fr .80fr 1fr;   
    }
} 

@media screen and (max-width:400px) {
    .container{
        grid-template-columns: 1fr;   
        grid-template-rows: 5rem 10rem 4rem 4rem 15rem 35rem ;
        grid-template-areas: "descifrador"
        "logo"
        "gif"
        "code"
        "para"
        "bagde";
    }
}

@media screen and (max-width:400px) {
    .container{
        grid-template-rows: 5rem 10rem 29rem 4rem 15rem 35rem ;
        
    }
} */
 
@media screen and (max-width:550px) {
    .container{
        
        grid-template-rows: 5rem 10rem 15rem 4rem 15rem 35rem ;
        
    }
}

@media screen and (max-width:550px) {
    .container{
        grid-template-columns: 1fr;   
        grid-template-rows: 5rem 10rem 15rem 4rem 15rem 35rem ;
        grid-template-areas: "descifrador"
        "logo"
        "gif"
        "code"
        "para"
        "bagde";
    }
}

@media screen and (max-width:400px) {
    .container{
        
        grid-template-rows: 5rem 10rem 11rem 4rem 15rem 35rem ;
        height: 220vh;
        
    }
}

@media screen and (max-width:380px) {
    .container{
        
        grid-template-rows: 4rem 10rem 10.2rem 4rem 15rem 35rem ;
        
    }
}   

@media screen and (max-width:360px) {
    .container{
        
        grid-template-rows: 4rem 10rem 10.2rem 4rem 15rem 35rem ;
        
    }
}   

@media screen and (max-width:350px) {
    .container{
        
        grid-template-rows: 4rem 10rem 10.2rem 4rem 15rem 35rem ;
        
    }
}   

@media screen and (max-width:335px) {
    .container{
        
        grid-template-rows: 4rem 10rem 9.7rem 4rem 15rem 35rem ;
        
    }
}   

@media screen and (max-width:320px) {
    .container{
        
        grid-template-rows: 4rem 10rem 9.5rem 4rem 15rem 35rem ;
        
    }
}   

@media screen and (max-width:300px) {
    .container{
        
        grid-template-rows: 4rem 10rem 8.7rem 4rem 15rem 35rem ;
        
    }
}   

@media screen and (max-width:280px) {
    .container{
        
        grid-template-rows: 4rem 10rem 8.2rem 4rem 15rem 35rem ;
        
    }
}   

@media screen and (max-width:260px) {
    .container{
        
        grid-template-rows: 4rem 10rem 7.8rem 4rem 15rem 35rem ;
        
    }
}   

@media screen and (max-width:242px) {
    .container{
        
        grid-template-rows: 4rem 10rem 7.1rem 4rem 15rem 35rem ;
        
    }
}   

