:root {
    --bg-color: #ecf0f3;
    --main-color: #cbced1;
    --bright-color: #fff;
    --font-color: #555;
    --box-shadow: 7px 7px 12px var(--main-color), -7px -7px 12px var(--bright-color);
    --box-shadow-inset: inset 7px 7px 12px var(--main-color), inset -7px -7px 12px var(--bright-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: var(--bg-color);
}

.container {
    background: var(--bg-color);
    height: 573px;
    width: 357px;
    border-radius: 25px;
    box-shadow: var(--box-shadow);
}

.userICN {
    box-shadow: var(--box-shadow-inset);
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6vw;
    color: var(--font-color);
    transform: translateX(-50%);
    width: 130px;
    position: relative;
    top: 30px;
    left: 50%;
    border-radius: 50%;
}

